.socials{
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
   
    margin-top: 2rem;
   
}

.location{
    display: flex;
    
   
}

 .location__title{
    font-size: var(--size-md);
    text-transform: capitalize;
    letter-spacing: .5ch;
    align-items: center;
    margin: 1rem 0;
}

.location__address{
    letter-spacing: 0.2ch;
    font-size: var(--size-sm);
    align-items: center;
    margin: 1.2rem 0;
    
}

.Socials__title{
    font-size: var(--size-md);
    text-transform: capitalize;
    letter-spacing: .5ch;
   
    align-items: center;
}

.Socials{
    display: flex;
    margin-bottom: 1rem;
}

.socila__icons{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.socila__icons:hover{
    transform: translateY(-3px);
}

.hline{
    width: 100%;
    margin: 1rem 0;
    
}

.signature{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.zdev{
    font-size: var(--size-sm);
}

.rights{
    font-size: var(--size-sm);
}

.signature .privacy{
    display: hidden;
}


@media (min-width:475px){

   
}


@media (min-width:640px){
    
}

/*md*/
@media (min-width:768px){

    .socials__footer{
        background-color: var(--clr-primary);
        color: var(--clr-secondary);
    }

    .socials{
        background-color: var(--clr-primary);
        color: var(--clr-secondary);
       
        flex-direction: row;
       
        align-items: center;
        justify-content: space-evenly;
       
        margin-top: 2rem;
       
    }
    
    .location .location__title{
        font-size: var(--size-md);
        text-transform: capitalize;
        letter-spacing: .5ch;
        margin: 1rem 0;
        align-items: center;
    }
    
    .location__address{
        letter-spacing: 0.2ch;
        font-size: var(--size-sm);
        margin: 1rem 0;
        
    }
    
    .Socials__title{
        font-size: var(--size-md);
        text-transform: capitalize;
        letter-spacing: .5ch;
        margin: 1rem 0;
        align-items: center;
    }
    
    .socila__icons{
        width: 20px;
        height: 20px;
        margin-top: 1rem;
        margin-bottom: 1rem ;
        margin-right: 2rem;
    }
    
    .socila__icons:hover{
        transform: translateY(-3px);
    }
    
    .hline{
        width: 100%;
        margin: 1rem 0;
        
    }
    
    .signature{
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
    
    .zdev{
        font-size: var(--size-sm);
        font-weight: 500;
    }
    
    .rights{
        font-size: var(--size-sm);
    }
    
    .signature .privacy{
        display: hidden;
    }
    
    
}

/*lg*/
@media (min-width:1024px){
   
}

/*xl*/
@media (min-width:1280px){
    .socials__footer{
        background-color: var(--clr-primary);
        color: var(--clr-secondary);
    }

    .socials{
        background-color: var(--clr-primary);
        color: var(--clr-secondary);
       
        flex-direction: row;
       
        align-items: center;
        justify-content: space-evenly;
       
        margin-top: 2rem;
       
    }
    .location {
        align-items: center;
    }
    
     .location__title{
        font-size: var(--size-md);
        text-transform: capitalize;
        letter-spacing: .5ch;
        margin: 1rem 0;
        align-items: center;
    }
    
    .location__address{
        letter-spacing: 0.2ch;
        font-size: var(--size-sm);
        margin: 1.2rem 0;
        
    }
    
    .Socials__title{
        font-size: var(--size-md);
        text-transform: capitalize;
        letter-spacing: .5ch;
        margin: 1rem 0;
        align-items: center;
    }
    
    .socila__icons{
        width: 20px;
        height: 20px;
        margin-top: 1rem;
        margin-bottom: 1rem ;
        margin-right: 2rem;
    }
    
    .socila__icons:hover{
        transform: translateY(-3px);
    }
    
    .hline{
        width: 100%;
        margin: 1rem 0;
        
    }
    
    .signature{
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
    
    .zdev{
        font-size: var(--size-sm);
        font-weight: 600;
    }
    
    .rights{
        font-size: var(--size-sm);
    }
    
    .signature .privacy{
        display: hidden;
    }
   
}