.mission__vission{
    margin-top: 2rem;
    color: var(--clr-fit);
    overflow: hidden;
}

.mission__vission-title{
    position: relative;
    margin-top: 4rem;
text-align: center;
margin-bottom: 2rem;
text-transform: capitalize;
font-size: var(--size-3xl);
letter-spacing: 0.9;
padding: 2rem 0;

}

.mission__vission-title::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: 5px solid var(--clr-fit);
    border-left: 5px solid var(--clr-fit);
    top: 10px;
    left: 2rem;
   }

   .mission__vission-title::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid var(--clr-fit);
    border-right: 5px solid var(--clr-fit);
    bottom: 10px;
    right: 2rem;
   }

.mission__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.mission__container-img{
    width: 210px;
    height: 150px;
   
}
.mission__img{
   background-image: url("../../images/oy4.jpg");
   background-size: cover;
   position: relative;
   height: 9rem;
   width: 19rem;
   margin: 2rem auto;
   overflow: hidden;

}

.mission__description{
    margin-left: 2rem;
    padding-right: 1rem;
    color: var(--clr-dark);
   
}
.mission__img::before{
content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value to control darkness */
  }
.mission__title{
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: var(--clr-secondary);
   text-transform: capitalize;
   font-size: var(--size-2xl);
   line-height: 0.9;
}



.vission__container{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.vission__img{
    background-image: url("../../images/stu2.jpg");
    background-size: cover;
    position: relative;
    height: 9rem;
    width: 19rem;
    margin: 2rem auto;
    overflow: hidden;
 
 }
 .vission__img::before{
 content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value to control darkness */
   }
   .vission__description{
    margin-left: 2rem;
    padding-right: 1rem;
    color: var(--clr-dark);
   
}

   @media (min-width:475px){
   
    
    
    .mission__container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    
    .mission__container-img{
        width: 210px;
        height: 150px;
       
    }
    .mission__img{
       background-image: url("../../images/stu1.jpg");
       background-size: cover;
       position: relative;
       height: 9rem;
       width: 20rem;
       margin-left: 2rem;
    
    }
    .mission__img::before{
    content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value to control darkness */
      }
    .mission__title{
        position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: var(--clr-white);
       text-transform: capitalize;
       font-size: var(--size-2xl);
       line-height: 0.9;
    }
    
    .mission__description{
        margin-left: 2rem;
        padding-right: 1rem;
       
    }
    
    .vission__container{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    
    .vission__img{
        background-image: url("../../images/stu2.jpg");
        background-size: cover;
        position: relative;
        height: 9rem;
        width: 20rem;
        margin-left: 2rem;
     
     }
     .vission__img::before{
     content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value to control darkness */
       }
   
   }
   
   
   @media (min-width:640px){

    .mission__vission-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        grid-template-areas: 
        'img1 content1'
        ' content2 img2';

       
    }
    .mission__img1{
        grid-area: img1;
    }

    .mission__content1{
        grid-area: content1;
        margin-left: 2rem;
    }

    .vission__img1{
        grid-area: img2;
    }

    .vission__content1{
        grid-area: content2;
        margin-left: 2rem;
    }
    .mission__container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    
    .mission__container-img{
        width: 210px;
        height: 150px;
       
       
    }
    .mission__img{
       background-image: url("../../images/stu1.jpg");
       background-size: cover;
       position: relative;
       height: 9rem;
       width: 16rem;
      margin-left: 2rem;
     
      
    
    }
    .mission__img::before{
    content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value to control darkness */
      }
    .mission__title{
        position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: var(--clr-secondary);
       text-transform: capitalize;
       font-size: var(--size-xl);
       line-height: 0.9;
    }
    
    .mission__description{
        margin-left: 2rem;
        padding-right: 1rem;
        font-size: var(--size-md);
       
    }
    
    .vission__container{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    
    .vission__img{
        background-image: url("../../images/stu2.jpg");
        background-size: cover;
        position: relative;
        height: 9rem;
        width: 16rem;
        margin-left: 2rem;
     
     }
     .vission__img::before{
     content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value to control darkness */
       }

       .vission__description{
        margin-left: 2rem;
        padding-right: 1rem;
        font-size: var(--size-md);
       
    }
   }
   
   /*md*/
   @media (min-width:768px){

    .mission__vission-title{
        position: relative;
        margin-bottom: 3rem;
        padding: 2rem 0;
        margin-top: 4rem;
        
        font-size: var(--size-2xl);
       
        
        }

    .mission__vission-title::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        border-top: 5px solid var(--clr-fit);
        border-left: 5px solid var(--clr-fit);
        top: 10px;
        left: 15rem;
       }

       .mission__vission-title::after{
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        border-bottom: 5px solid var(--clr-fit);
        border-right: 5px solid var(--clr-fit);
        bottom: 10px;
        right: 15rem;
       }
    .mission__container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    
    .mission__container-img{
        width: 210px;
        height: 150px;
       
       
    }
    .mission__img{
       background-image: url("../../images/stu1.jpg");
       background-size: cover;
       position: relative;
       height: 9rem;
       width: 16rem;
      margin-left: 3.5rem;
     
      
    
    }
    .mission__img::before{
    content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value to control darkness */
      }
    .mission__title{
        position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: var(--clr-secondary);
       text-transform: capitalize;
       font-size: var(--size-xl);
       line-height: 0.9;
    }
    
    .mission__description{
        margin-left: 1rem;
        padding-right: 1rem;
        font-size: var(--size-md);
       
    }
    
    .vission__container{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    
    .vission__img{
        background-image: url("../../images/stu2.jpg");
        background-size: cover;
        position: relative;
        height: 9rem;
        width: 16rem;
        margin-left: 3rem;
     
     }

     .vission__description{
        margin-left: 1rem;
        padding-right: 1rem;
        font-size: var(--size-md);
       
    }
     
       
   }
   
   /*lg*/
   @media (min-width:1024px){

    .mission__vission-title{
        position: relative;
        margin-bottom: 3rem;
        padding: 2rem 0;
        margin-top: 4rem;
        
        font-size: var(--size-3xl);
       
        
        }
   
    .mission__vission-title::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        border-top: 5px solid var(--clr-new);
        border-left: 5px solid var(--clr-new);
        top: 10px;
        left: 30rem;
       }

       .mission__vission-title::after{
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        border-bottom: 5px solid var(--clr-new);
        border-right: 5px solid var(--clr-new);
        bottom: 10px;
        right: 30rem;
       }
    
    .mission__container-img{
        width: 210px;
        height: 150px;
       
       
    }

   
    .mission__img{
       background-image: url("../../images/stu1.jpg");
       background-size: cover;
       position: relative;
       height: 9rem;
       width: 20rem;
      margin-left: 2rem;
     
      
    
    }
    .mission__img::before{
    content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value to control darkness */
      }
    .mission__title{
        position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: var(--clr-secondary);
       text-transform: capitalize;
       font-size: var(--size-2xl);
       line-height: 0.9;
    }
    
    .mission__description{
        margin-left: 5rem;
        padding-right: 1rem;
        font-size: var(--size-sm);
       
    }
    
    .vission__container{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    
    .vission__img{
        background-image: url("../../images/stu2.jpg");
        background-size: cover;
        position: relative;
        height: 9rem;
        width: 20rem;
        margin-left: 2rem;
     
     }
      
   }
   
   /*xl*/
   @media (min-width:1280px){

    .mission__vission-title{
        position: relative;
        margin-bottom: 3rem;
        padding: 2rem 0;
        margin-top: 4rem;
        
        font-size: var(--size-4xl);
       
        
        }
        
        .mission__vission-title::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            border-top: 5px solid var(--clr-fit);
            border-left: 5px solid var(--clr-fit);
            top: 10px;
            left: 26rem;
           }
    
           .mission__vission-title::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            border-bottom: 5px solid var(--clr-fit);
            border-right: 5px solid var(--clr-fit);
            bottom: 10px;
            right: 26rem;
           }
    

   
    .mission__img{
       background-image: url("../../images/oy4.jpg");
       background-size: cover;
       position: relative;
       height: 10rem;
       width: 25rem;
      margin-left: 8rem;
      margin-bottom: 4rem;
     
      
    
    }
    .mission__img::before{
    content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value to control darkness */
      }
    .mission__title{
        position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: var(--clr-secondary);
       text-transform: capitalize;
       font-size: var(--size-2xl);
       line-height: 0.9;
    }
    
    .mission__description{
        margin-left: 3rem;
        margin-right: 2rem;
        padding-right: 1rem;
        font-size: var(--size-md);
        margin-bottom: 4rem;
       
    }
    
    .vission__container{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    
    .vission__img{
        background-image: url("../../images/stu2.jpg");
        background-size: cover;
        position: relative;
        height: 10rem;
        width: 25rem;
        margin-left: 8rem;
     
     }

     .vission__description{
        margin-left: 6rem;
        padding-right: 1rem;
        font-size: var(--size-md);
        margin-bottom: 4rem;
       
    }
      
   }