.objectives{
    padding: 2rem 0;
    margin-top: 4rem;
    background-color: var(--clr-white);
    color: var(--clr-dark);
    overflow: hidden;

}

.objectives__title{
    position: relative;
    margin-top: 4rem;
text-align: center;
margin-bottom: 2rem;
text-transform: capitalize;
font-weight: 600;
font-size: var(--size-3xl);
line-height: 0.9;
color: var(--clr-primary);
padding: 2rem 0;
}

.objectives__title::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: 5px solid var(--clr-new);
    border-left: 5px solid var(--clr-new);
    top: 10px;
    left: 5rem;
   }

   .objectives__title::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid var(--clr-new);
    border-right: 5px solid var(--clr-new);
    bottom: 10px;
    right: 5rem;
   }

   .objective__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
   }

   .objective__card{
    width: 300px;
    height: 300px;
    border: 1px solid var(--clr-new);
    z-index: 10;
   
   }

   .objective__content{
    text-align: left;
   padding: .5rem 1rem;
   margin-bottom: .5rem;
   }

   .numbers{
    margin: 1rem ;
   }


@media (min-width:475px){
    .objectives__title{
        text-align: center;
        margin-bottom: 2rem;
        text-transform: capitalize;
        font-weight: 600;
        font-size: var(--size-3xl);
        line-height: 0.9;
        }
        
        
   
}


@media (min-width:640px){
    .objectives__title{
        text-align: center;
        margin-bottom: 2rem;
        text-transform: capitalize;
        font-weight: 600;
        font-size: var(--size-3xl);
        line-height: 0.9;
        }
        
        
    
}

/*md*/
@media (min-width:768px){
    .objectives__title{
       position: relative;
        font-size: var(--size-4xl);
       
        }

        .objectives__title::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            border-top: 5px solid var(--clr-new);
            border-left: 5px solid var(--clr-new);
            top: 10px;
            left: 15rem;
           }
    
           .objectives__title::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            border-bottom: 5px solid var(--clr-new);
            border-right: 5px solid var(--clr-new);
            bottom: 10px;
            right: 15rem;
           }

           /* objective cards*/

           .objective__container{
            display: grid;
           grid-template-columns: 1fr 1fr;
           margin: 0 3rem;
            align-items: center;
           }
        
           .objective__card{
            width: 300px;
            height: 300px;
            border: 1px solid var(--clr-new);
            z-index: 10;
           
           }
        
           .objective__content{
            text-align: left;
           padding: .5rem 1rem;
           margin-bottom: .5rem;
           
           }
        
           .numbers{
            margin: 1rem ;
           }

        
        
    
}

/*lg*/
@media (min-width:1024px){
    .objectives__title{
       
        font-size: var(--size-4xl);
       
        }
        
       
}

/*xl*/
@media (min-width:1280px){

    .objectives__title{
       margin: 4rem;
        font-size: var(--size-4xl);
        margin-bottom: 2rem;
       
        }

        .objectives__title::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            border-top: 5px solid var(--clr-new);
            border-left: 5px solid var(--clr-new);
            top: 10px;
            left: 25rem;
           }
    
           .objectives__title::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            border-bottom: 5px solid var(--clr-new);
            border-right: 5px solid var(--clr-new);
            bottom: 10px;
            right: 25rem;
           }

           /* cards */

           .objective__container{
            display: grid;
           grid-template-columns: 1fr 1fr 1fr 1fr;
           gap: .5rem;
           margin: 0 2rem;
            align-items: center;
           }
        
           .objective__card{
            width: 300px;
            height: 300px;
            border: 1px solid var(--clr-new);
            z-index: 10;
            margin-top: 3rem;
           
           }
        
           .objective__content{
            text-align: left;
           padding: .5rem 1rem;
           margin-bottom: .5rem;
           
           }
        
           .numbers{
            margin: 1rem ;
           }
        
       
   
}