.btn{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    padding: 0.5em 1em;
    border-radius: 6px;
    transition: transform 0.3s;
}

.btn1{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    padding: 0.5em 1em;
    border-radius: 6px;
    transition: transform 0.3s;
}

.btn:hover{
    transform: translateY(-3px);
}

/*container*/
.container{
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
   
    
}

.section{
    margin-top: 2rem;
}
/*xs*/
@media (min-width:475px){
    .container{
        max-width: 475px;
    }
}

/*sm*/
@media (min-width:640px){
    .container{
        max-width: 640px;
    }
}

/*md*/
@media (min-width:768px){
    .container{
        max-width: 768px;
    }
}

/*lg*/
@media (min-width:1024px){
    .container{
        max-width: 1024px;
    }
    .section{
        margin-top: 10rem;
    }
}

/*xl*/
@media (min-width:1280px){
   
}


@media (min-width:640px){
    
}

/*md*/
@media (min-width:768px){
    
}

/*lg*/
@media (min-width:1024px){
   
}

/*xl*/
@media (min-width:1280px){
   
}